{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for p in projects %}
        <div class="project">
            <span>
                <a class="project-link" href="{{p.link}}">
                    {{p.title}}
                </a>
            </span>
            <div class="details">{{p.details.d1}}</div>
            <div class="details">{{p.details.d2}}</div>
            <div class="details">{{p.details.d3}}</div>
            <p class="technologies">Technologies Used: {{p.technologies_used}}</p>
        </div>
    {% endfor %}
</section>
{% endif %}